
<title><%= title %></title>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

<!-- include libraries -->	
<script src='<%= baseUrl%>bower_components/jquery/dist/jquery.min.js'></script>
<script src='<%= baseUrl%>bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
<link rel='stylesheet' href='<%= baseUrl%>bower_components/bootstrap/dist/css/bootstrap.min.css' />
<script src='<%= baseUrl%>bower_components/bootbox.js/bootbox.js'></script>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.css' />
<script src='<%= baseUrl%>bower_components/underscore/underscore-min.js'></script>
<!-- include angular js and modules -->
<script src='<%= baseUrl%>bower_components/angular/angular.min.js'></script>
<script src='<%= baseUrl%>bower_components/ngBootbox/dist/ngBootbox.min.js'></script>
<script src='<%= baseUrl%>bower_components/angular-route/angular-route.min.js'></script>
<script src='<%= baseUrl%>bower_components/angular-cookies/angular-cookies.min.js'></script>
<script src='<%= baseUrl%>bower_components/angular-local-storage/dist/angular-local-storage.min.js'></script>
<script src='<%= baseUrl%>bower_components/angular-animate/angular-animate.min.js'></script>
<script src='<%= baseUrl%>bower_components/restangular/dist/restangular.min.js'></script>


<!-- global variables -->
<script>
	var HOME = '<%= baseUrl%>';
</script>

<!-- site stylesheet -->
<link rel='stylesheet' href='<%= baseUrl%>style.css' />
